* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: column;
}
.imageBox {
    background-image: url(https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
}



/*navbar*/
.imageBox__navbar {
    display: flex;
    align-items: center;
    background-color: rgba( 255, 255, 255, 0);
    padding: 0px 5%;
    width: 100%;
    margin: 17px 0 0 0;
}

.imageBox__navbar__logo {
    font-size: 23px;
    padding: 8px 12px;
    color: black;
    font-weight: bold;
}
.imageBox__navbar__logo a{
    color: black;
}

.imageBox__navbar__menu {
    display: flex;
    list-style: none;
    color: black;
    padding: 0 0 0 25%;
}
.imageBox__navbar__menu li {
    padding: 8px 12px;
}
.imageBox__navbar__menu a {
    color: black;
}

.imageBox__navbar__specialMenu {
    display: flex;
    list-style: none;
    color: black;
    padding: 0 0 0 15%;
}
.imageBox__navbar__specialMenu li {
    padding: 8px 12px;
}
.imageBox__navbar__specialMenu a {
    color: black;
}

.imageBox__navbar__icon {
    display: flex;
    list-style: none;
    background-color: gray;
    border-radius: 40px;
}
.imageBox__navbar__icon li {
    padding: 8px 12px;
}
.imageBox__navbar__icon a {
    color: white;
    padding: 0;
}



/*searchBox*/
.imageBox__search__container {
    display: flex;
    width: 100%;
    height: 110px;
    justify-content: center;
    align-items: center;
}
.imageBox__search {
    display: flex;
    list-style: none;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 80px;
    padding: 8px 2%;
    background-color: rgba(224, 224, 224, 0.5);
    border-radius: 40px;
}
.imageBox__search__menuBtn {
    padding: 0px 2px 0px 5px;
    border-radius: 10px;
}
.imageBox__search__menuBtn:hover{
    background-color: rgba(224, 224, 224, 0.8);
  }
.imageBox__search .search__border {
    padding: 0px;
    width: 1px;
    height: 40px;
    background-color: black;
}
.imageBox__search li{
    display: flex;
    flex-direction: column;
}
.imageBox__search a{
    font-size: 12px;
    font-weight: bold;
    color: black;
}
.imageBox__search input{
    padding: 8px 8px 8px 0;
    background-color: rgba(224, 224, 224, 0);
    color: black;
    border: none;
    font-size: 14px;
}



/*text*/
.imageBox__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 150px 0 0 0;
    font-size: 18px;
    font-weight: bold;
}

